{% extends "blog/base.html" %}
{% block content %}

{% for post in posts %}
    <article class="media content-section d-flex">
        <div class="row">
            <div class="d-flex">
                <img class="rounded-circle article-img" src="{{ post.author.profile_pic.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'user-posts' post.author %}"> {{post.author}} </a>
                        <small class="text-muted"> {{post.date_posted | date:"F d ,Y"}} </small>
                    </div>
                    <h2><a class="article-title" href="{% url 'post-detail' post.id %}"> {{ post.title }} </a></h2>
                    <p class="article-content"> {{ post.content }} </p>
                </div>
            </div>

            <div class="d-flex">
                <button id="likeBtn-{{ post.id }}" {% if user.is_authenticated and request.user in post.likes.all %} class="btn btn-primary" {% else %} class="btn btn-outline-secondary" {% endif %} onclick="toggleLike( '{{ post.id }}' )">
                    <i id="likeIcon-{{ post.id }}" class="bi bi-hand-thumbs-up"></i>
                    <span id="likeCount-{{ post.id }}">{{ post.likes.count }}</span>
                </button>
                <a class="btn btn-primary ms-2" href="{% url 'post-detail' post.id %}">Add Comment</a>
            </div>
        </div>
    </article>
    
{% endfor %}

{% if is_paginated %}

    <div class="pagination">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    {% if page_obj.previous_page_number == 1 %}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo;1</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
                    {% endif %}
                {% endif %}
                
                <li class="page-item active"><a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}</a></li>

                {% if page_obj.has_next %}
                    {% if page_obj.next_page_number == page_obj.paginator.num_pages %}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}} &raquo;</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}} &raquo;</a></li>
                    {%  endif %}
                {% endif %}
            </ul>
        </nav>
    </div>

    <script>
        function toggleLike(postId){
            const url = `/blog/post/${postId}/like/`;
            fetch(url , {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            })
            .then(res => {
                if(!res.ok){
                     throw new Error(`HTTP Status ${res.status}`);
                }
                return res.json();
            })
            .then(data =>{
                const btn = document.getElementById(`likeBtn-${postId}`);
                const icon = document.getElementById(`likeIcon-${postId}`);
                const countSpan = document.getElementById(`likeCount-${postId}`);

                countSpan.textContent = data.like_count;

                if(data.liked){
                    btn.classList.remove('btn-outline-secondary');
                    btn.classList.add('btn-primary');
                    icon.className = 'bi bi-hand-thumbs-up-fill';
                }
                else{
                    btn.classList.remove('btn-primary');
                    btn.classList.add('btn-outline-secondary')
                    icon.className = 'bi bi-hand-thumbs-up'
                }
            })
            .catch(error => {
                console.error('Error in like request: ',error);
            });
        }

        function getCookie(name){
            let cookieValue = null;
            if(document.cookie && document.cookie !== ''){
                const cookies = document.cookie.split(';');
                for(let i=0;i<cookies.length;i++){
                    const cookie = cookies[i].trim();
                    if(cookie.substring(0,name.length+1) === (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(name.length +1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>

{% endif %}
    
{% endblock content %}