{% extends "blog/base.html"%}
{% load static %}
{% block content %}

<div class="content-section">
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Logout</legend>
        <h2>Are you sure you want to logout?</h2>
    </fieldset>
    <form action="{% url 'blog-logout' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Yes, Logout</button>
            <a class="btn btn-outline-secondary" href="{% url 'blog-home' %}">Cancel</a>
        </div>
    </form>
</div>

{% endblock content %}