{% extends "blog/base.html" %}
{% block content %}

<div class="content-section">
    <div class="d-flex align-items-start">
        <img class="rounded-circle account-img me-3" src="{{ user_profile.profile_pic.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{user_profile.username}}</h2>
            <p class="text-secondary">{{user_profile.email}}</p>
            <p class="text.text-secondary">{{user_profile.user_bio}}</p>
            <form method="post">
                <div>
                    {% if request.user != user_profile %}
                        {% if request.user in user_profile.followers.all %}
                            <a class="btn btn-secondary" href="{% url 'unfollow_user' user_profile.id %}">Unfollow</a>
                        {% else %}
                            <a class="btn btn-primary" href="{% url 'follow-user' user_profile.id %}">Follow</a>
                        {% endif %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

<h1 class="mb-3">Posts by {{ views.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
{% for post in posts %}
    <article class="media content-section d-flex align-items-start">
        <img class="rounded-circle article-img" src="{{ post.author.profile_pic.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author %}"> {{post.author}} </a>
                <small class="text-muted"> {{post.date_posted | date:"F d ,Y"}} </small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}"> {{ post.title }} </a></h2>
            <p class="article-content"> {{ post.content }} </p>
        </div>
    </article>
{% endfor %}

{% if is_paginated %}

    <div class="pagination">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    {% if page_obj.previous_page_number == 1 %}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo;1</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
                    {% endif %}
                {% endif %}
                
                <li class="page-item active"><a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}</a></li>

                {% if page_obj.has_next %}
                    {% if page_obj.next_page_number == page_obj.paginator.num_pages %}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}} &raquo;</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}} &raquo;</a></li>
                    {%  endif %}
                {% endif %}
            </ul>
        </nav>
    </div>

{% endif %}
    
{% endblock content %}